In [1]:
my_str = 'peter piper picked a peck of pickled peppers'
lst = []
out_str = ''
for i in range(len(my_str)-1,-1,-1):
    if my_str[i] == ' ':
        lst += [out_str[::-1]]
        out_str = ''
    elif i == 0:
        out_str += my_str[i]
        out_str = out_str[::-1]
        lst += [out_str]
    else:
        out_str += my_str[i]
print(lst)

# i = 28
# out_str = out_str + my_str = 'delkcip'
# lst = lst + [out_str] = ['peppers'] + ['pickled'] = ['peppers', 'pickled']

['peppers', 'pickled', 'of', 'peck', 'a', 'picked', 'piper', 'peter']

In [2]:
range(len(my_str)-1,-1,-1)

range(43, -1, -1)

In [3]:
list(range(len(my_str)-1,-1,-1))

[43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [6]:
list(range(-10,10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# my_str = 'peter piper picked a peck of pickled peppers'
# list(range(len(my_str)-1,-1))

# out_str = out_str[::-1] = 'pickled'
# range(10, -10, +1)

#         Step = -1
# -1-----------------------------------------43

In [9]:
# break - the loop - We immediately come out of the loop
# Continue - Used to skip the current/defined iteration

emp_details = {'emp1':{'emp_name':'Krishna Kumar', 
                       'emp_id': 101,
                       'emp_sal': 15000},
               'emp2':{'emp_name':'Abhishek Kumar', 
                       'emp_id': 102,
                       'emp_sal': 15000},
               'emp3':{'emp_name':'Rahul Kumar', 
                       'emp_id': None,
                       'emp_sal': 15000},
               'emp4':{'emp_name':'Afsan Kumar', 
                       'emp_id': 104,
                       'emp_sal': 15000}}
emp_lst = []
for key in emp_details:
#     break
    if emp_details[key]['emp_id'] == None:
        break
    else:
        emp_lst.append(list(emp_details[key].values()))
print(emp_lst)

# emp_lst = []
# key = 'emp1'
# if emp_details[key]['emp_id'] = 101: => False
#     nothing
# else:
#     emp_lst.append(emp_details[key]) => [{'emp_name':'Krishna Kumar', 'emp_id': 101,'emp_sal': 15000}]

# emp_lst = [{'emp_name':'Krishna Kumar', 'emp_id': 101,'emp_sal': 15000}]
# key = 'emp2'
# if emp_details[key]['emp_id'] = 101: => False
#     nothing
# else:
#     emp_lst.append(emp_details[key]) => [{'emp_name':'Krishna Kumar','emp_id': 101,'emp_sal': 15000}, {'emp_name':'Abhishek Kumar', 'emp_id': 102,'emp_sal': 15000}]
    
# emp_lst = [{'emp_name':'Krishna Kumar','emp_id': 101,'emp_sal': 15000}, {'emp_name':'Abhishek Kumar', 'emp_id': 102,'emp_sal': 15000}]
# key = 'emp3'
# if emp_details[key]['emp_id'] = None: => True   
#     exit loop
    
# [{'emp_name':'Krishna Kumar','emp_id': 101,'emp_sal': 15000}, {'emp_name':'Abhishek Kumar', 'emp_id': 102,'emp_sal': 15000}]

[['Krishna Kumar', 101, 15000], ['Abhishek Kumar', 102, 15000]]

In [ ]:
# Number guess

# org_num = 6
# guess_num = int(input('Guess a number '))
# while True:
#     if guess_num == org_num:
#         print('Correct Guess!!!')
#         print('You Won!!!')
#         break
#     else:
#         print('Incorrect Guess!!!')
#         print('Enter the number again!!!')
#         guess_num = int(input())
        
# Loop1:
#     loop2:
#         break
#     break

In [ ]:
# lst = [10,20,30,40]
# print(lst[0])

emp_details = {'emp1':{'emp_name':'Krishna Kumar', 
                       'emp_id': 101,
                       'emp_sal': 15000},
               'emp2':{'emp_name':'Abhishek Kumar', 
                       'emp_id': 102,
                       'emp_sal': 15000},
               'emp3':{'emp_name':'Rahul Kumar', 
                       'emp_id': None,
                       'emp_sal': 15000},
               'emp4':{'emp_name':'Afsan Kumar', 
                       'emp_id': 104,
                       'emp_sal': 15000}}

print(emp_details['emp2'])

In [ ]:
if 10==10:
    break

In [ ]:
emp_details = {'emp1':{'emp_name':'Krishna Kumar', 
                       'emp_id': 101,
                       'emp_sal': 15000},
               'emp2':{'emp_name':'Abhishek Kumar', 
                       'emp_id': 102,
                       'emp_sal': 15000},
               'emp3':{'emp_name':'Rahul Kumar', 
                       'emp_id': None,
                       'emp_sal': 15000},
               'emp4':{'emp_name':'Afsan Kumar', 
                       'emp_id': 104,
                       'emp_sal': 15000},
               'emp5':{'emp_name':'Amrithansh Kumar', 
                       'emp_id': None,
                       'emp_sal': 15000},
               'emp6':{'emp_name':'Utkarsh Kumar', 
                       'emp_id': 106,
                       'emp_sal': 15000}}
emp_lst = []
for key in emp_details:
    if emp_details[key]['emp_id'] != None:
        continue
        print('Hello')
    else:
        emp_lst.append(list(emp_details[key].values()))
print(emp_lst)

In [10]:
#Q. Use break statement properly. The code is:
x = [1, 2]
y = [10, 100]
for i in x: 
    for j in y: 
        if i % 2 == 0: 
            print(i * j)
        print(i)
        break
    print(j)
    
# Output is:-
# 1
# 10
# 20
# 2
# 10


# i = 2
# j = 10
# 1
# 10
# 20
# 2
# 10

1
10
20
2
10

In [ ]:
#Q. Use break statement properly. The code is:
x = [1, 2]
y = [10, 100]
for i in x: 
    for j in y: 
        if i % 2 == 0: 
            break
            print(i * j)
        print(i)
    print(j)
    

# Output is:-
# 1
# 1
# 100
# 10

# i = 2
# j = 10
# 1
# 1
# 100
# 10

In [12]:
# Use continue statement properly
x = [1, 2]
y = [10, 100]
for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)
            continue
        print(i)
    print(j)
    
# 1
# 1
# 100
# 20  
# 200
# 100

1
1
100
20
200
100

In [ ]:
# List Data Structure in Python
# List - any value kept inside []

# lst = [10,20,30,40,50,60]
# print(lst, type(lst))

# List is mutable data structure.

# List can have duplicate elements.(In set duplicates are not allowed)
# lst = [10,20,30,40,10,20,10, 11, 10, 22, 10]
# print(lst)
# s = {10,20,30,40,10,20,10, 11, 10, 22, 10}
# print(s)

# List is a collection of heterogeneous elements.(Array is a collection of homogeneous elements)
# lst = [10, 10.20, 10+20j, None, True, None, 'Python', [1, 2, 3], (9, 8, 7)]
# print(lst)

# How list is created.
# Case 1 - if you know the elements in advance
# lst = [10,20,30,40,50,60]
# print(lst, type(lst))

# Case 2 - using list function
# list(iterable) -> Iterable - String, list, tuple, set, frozenset, dictionary, bytes, bytearray, array, enumerate, zip, filter, map
# my_lst = list('Python')
# print(my_lst)

# my_str = 'Python'
# my_lst = list(my_str)
# print(my_str[0], id(my_str[0]))
# print(my_lst[0], id(my_lst[0]))

print(list([10,20,30,40]))
print(list((10,20,30,40)))
print(list([list(emp_details[i].keys()) for i in emp_details.keys()]))

# [list(emp_details[i].values()) for i in emp_details.keys()]
# [expr for loop]
#

In [ ]:
# Mutable - We can modify the data
# List, Dicionary, set, bytearray etc
    # 1. Item assignment is possible
    # 2. The changes will be mae to existing object(Memory address will remain same after the changes and before the changes)
    
# lst = [10,20,30,40,50]
# print(lst, id(lst))
# lst[0] = 111
# print(lst, id(lst))

# Immutable - We can not modify the data
# Tuple, frozenset, string, bytes etc
    # 1. Item assignment is not possible.
    # 2. The changes will be made to existing object(Memory address will change after the changes and before the changes)
    
# my_str = 'Python'   
# my_str[0] = 'J'
    
my_str = 'Python'
print(my_str, id(my_str))
# print(my_str.replace('P', 'J'), id(my_str.replace('P', 'J')))
my_str = my_str.replace('P', 'J')
print(my_str, id(my_str))
# print(res_str, id(res_str))

In [ ]:
lst1 = [10,20,30,40,50]
lst2 = [10,20,30,40,50]
print(id(lst1))
print(id(lst2))

In [ ]:
a = 10
b = 10
print(id(a))
print(id(b))

In [ ]:
a = 10
print(a, id(a))
a = a+2
print(a, id(a))

In [ ]:
# lst = [[10],[10]]
# lst1 = [10,10]

# print(lst[0],id(lst[0]))
# print(lst[1],id(lst[1]))

In [ ]:
my_str='python'
ind=0
while ind < len(my_str):
            print(my_str[ind]*(ind+1))
            ind +=1
            
#             01234

In [ ]:
my_str = 'Python'
print(my_str[5])
print(my_str[6])

In [ ]:
while range(1, 10, 1):
    print('Hi')

In [11]:
1%2

1