In [9]:
# Anonymous function - A function without any name

# Syntax - lambda arg:exp

# No need to write the return statement explicitly, The expr result will be evaluated and it will be returned as value

(lambda num:True if num%2 ==0 else False)(5)

False

In [6]:
lst = list(range(11,21))
lst


def even_odd(num):
    return True if num% 2==0 else False
    
def my_filter(func, lst):
    out_lst =[]
    for num in lst:
        if func(num) == True:
            out_lst.append(num)
    return out_lst

my_filter(even_odd, lst)

[12, 14, 16, 18, 20]

In [ ]:
# filter,map,reduce,sort

In [15]:
# Filter

# Syntax - filter(fun,seq) - filter object
# filter object is an iterator object
# it filters a sequence based on function

lst = list(range(11,21))
filter(lambda num:num%2 ==0, lst)
list(filter(lambda num:num%2 ==0, lst))

[12, 14, 16, 18, 20]

In [17]:
# map

# Syntax - map(fun,seq) - map object
# It is used to map each element of a seq with another element

lst = list(range(11,21))
map(lambda num:num**2, lst)
list(map(lambda num:num**2, lst))

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [43]:
email_list = ['eric.lopez@gmail.com',
              'eric.lund@gmail.com',
              'eric.m.boehm@gmail.com',
              'eric.mack@gmail.com',
              'eric.mason@gmail.com',
              'eric.mathews@gmail.com',
              'eric.maynard@gmail.com',
              'eric.mckinney@gmail.com',
              'eric.meredith@gmail.com',
              'eric.mintz@gmail.com']

# lst1 = list(filter(lambda x:len(x.split('@')[0])>9,email_list))
# print(lst1)
                     
    
lst1 = list(map(lambda x:x.split('@')[0],email_list))
print(lst1)


# lst1 = list(map(lambda x:x.split('@')[0],(filter(lambda x:len(x.split('@')[0])>9,email_list))))
# print(lst1)

['eric.lopez', 'eric.lund', 'eric.m.boehm', 'eric.mack', 'eric.mason', 'eric.mathews', 'eric.maynard', 'eric.mckinney', 'eric.meredith', 'eric.mintz']

In [38]:
# Reduce - aggregate - sum,max,min
# syntax - reduce(func,seq)
#  It returns a single value

lst = list(range(11,21))
from functools import reduce
reduce(lambda x,y:x+y,lst)

155

In [40]:
# sort

lst =[56,98,34,89,76,22,1,23,45,67,2,3,10]
lst.sort()
print(lst)

[1, 2, 3, 10, 22, 23, 34, 45, 56, 67, 76, 89, 98]

In [42]:
emp_lst =[(101, 10000), (102, 8000), (103, 70000), (109, 900), (104, 12000), (105, 100000), (106, 45000)]

# sort the list inascending order of the salary
emp_lst.sort(key = lambda tpl:tpl[1])
print(emp_lst)

[(109, 900), (102, 8000), (101, 10000), (104, 12000), (106, 45000), (103, 70000), (105, 100000)]

In [46]:

lst = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# lst1 = list(map(lambda x:x.split('@')[0],(filter(lambda x:len(x.split('@')[0])>9,email_list))))
# print(lst1)

list(map(lambda num :num**2, filter(lambda num:num%2 ==0, lst)))

[100, 144, 196, 256, 324]

In [67]:
lst_email = ['abhishek@learnbay.co', 'neha@learnbay.co', 'krishna@learnbay.co',
             'rahul@learnbay.co', 'dhrub@learnbay.co', 'Jitin@learnbay.co']

list(map(lambda x:x[:x.index('@')], (filter(lambda x:len(x[:x.index('@')])> 5, lst_email))))

['abhishek', 'krishna']

In [69]:
cust_type = [('Abhishek', 'Subscriber'), ('Rahul', 'Customer'), ('Krishna', 'Subscriber'),
             ('Anil', 'Subscriber'), ('Vivek', 'Subscriber'), ('Akhil', 'Customer')]

list(map(lambda tpl:tpl[0],filter(lambda tpl:tpl[1] == 'Subscriber', cust_type)))

['Abhishek', 'Krishna', 'Anil', 'Vivek']