In [1]:
import pandas as pd

In [3]:
pokemon = pd.read_csv('pokemon.csv')

In [4]:
pokemon

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [5]:
pd.read_csv('pokemon.csv', usecols = ['Pokemon'],squeeze=True)

C:\Users\GNR\AppData\Local\Temp\ipykernel_19816\3098950538.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('pokemon.csv', usecols = ['Pokemon'],squeeze=True)

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [7]:
pokemon_names=pd.read_csv("pokemon.csv",usecols=["Pokemon"]).squeeze()